# ============================
# YOLO Project .gitignore
# ============================

# Python
__pycache__/

# VSCode / IDE
.vscode/

# 데이터 생성용 코드
Data_Preprocessing/Edit/
Data_Preprocessing/output_frame/
Data_Preprocessing/output_video/

# 학습 및 테스트 데이터
datasets/

# YOLO 바운딩박스 모델
YoLo_BB/backbone_model
YoLo_BB/results
YoLo_BB/test_results

# YOLO 세그먼테이션 모델
YoLo_Seg/backbone_model
YoLo_Seg/results
YoLo_Seg/test_results